@if (params().showContentsInTabs) {
  <mat-tab-group
    slidingTabIndicator
    [tabHeaderClass]="tablistClass()"
    class="contents-view-tab-group"
    [class.contents-view-tabs-vertical]="tabsOrientation() === 'vertical'"
    [class.h-full]="fitIntoView()"
    [class.min-h-0]="fitIntoView()"
    [preserveContent]="params().preserveInactiveContent ?? true"
    [selectedIndex]="selectedTabIndex()"
    (selectedIndexChange)="onSelectedTabIndexChange($event)"
  >
    @for (rc of visibleContents(); track trackContent($index, rc)) {
      <mat-tab [disabled]="rc.disabled">
        <ng-template mat-tab-label>
          @if (rc.content.icon) {
            <mat-icon class="!text-base" aria-hidden="true">{{ rc.content.icon }}</mat-icon>
          }

          <span>{{ rc.content.label }}</span>

          @if (rc.badge !== undefined && rc.badge !== null && rc.badge !== '') {
            <span class="ml-1 rounded-full bg-black/10 px-1.5 text-xs">{{ rc.badge }}</span>
          }
        </ng-template>

        <div [class]="listItemClass(rc)">
          <ng-container
            [ngTemplateOutlet]="header"
            [ngTemplateOutletContext]="{ $implicit: rc }"
          />
          <ng-container
            [ngTemplateOutlet]="contentBody"
            [ngTemplateOutletContext]="{ $implicit: rc }"
          />
        </div>
      </mat-tab>
    }
  </mat-tab-group>
} @else {
  <div [class]="contentsContainerClass()">
    @for (rc of visibleContents(); track trackContent($index, rc)) {
      <div [class]="listItemClass(rc)">
        <!-- HEADER -->
        <ng-container [ngTemplateOutlet]="header" [ngTemplateOutletContext]="{ $implicit: rc }" />

        <!-- CONTENT BODY -->
        <ng-container
          [ngTemplateOutlet]="contentBody"
          [ngTemplateOutletContext]="{ $implicit: rc }"
        />
      </div>
    }
  </div>
}

<ng-template #header let-rc>
  @if (showsHeader(rc)) {
    <div [class]="headerClass(rc)">
      @if (showHeaderLabelIcon(rc.content)) {
        @if (rc.content.icon) {
          <mat-icon class="!text-base" aria-hidden="true">{{ rc.content.icon }}</mat-icon>
        }
        <span>{{ rc.content.label }}</span>
        @if (rc.badge !== undefined && rc.badge !== null && rc.badge !== '') {
          <span class="ml-1 rounded-full bg-black/10 px-1.5 text-xs">{{ rc.badge }}</span>
        }
      }
      @if (rc.content.actionButtons) {
        <action-buttons
          [data]="rc.content"
          [buttons]="rc.content.actionButtons"
          class="ml-1 inline-flex"
        />
      }
    </div>
  }
</ng-template>

<ng-template #contentBody let-rc>
  <div [class]="bodyClass(rc)" [attr.tabindex]="fitIntoView() ? 0 : null">
    @switch (rc.content.type) {
      @case ('table') {
        <data-grid [params]="rc.content.gridParams" />
      }
      @case ('details') {
        <all-details [params]="rc.content.detailsParams" />
      }
      @case ('form') {
        <generic-form [params]="rc.content.formParams" />
      }
      @case ('html') {
        <span [innerHTML]="rc.html ?? ''"></span>
      }
      @case ('component') {
        @if (rc.content.componentParams?.component; as cmp) {
          <ng-container
            [ngComponentOutlet]="cmp"
            [ngComponentOutletInputs]="rc.content.componentParams?.inputs ?? {}"
          />
        } @else if (rc.content.componentParams?.template; as tpl) {
          <ng-container
            [ngTemplateOutlet]="tpl"
            [ngTemplateOutletContext]="{
              $implicit: rc.content,
              content: rc.content,
              ...(rc.content.componentParams?.templateContext ?? {}),
            }"
          />
        }
      }
    }
    @if (rc.content.contents?.length) {
      <contents-view
        [params]="nestedParameter(rc.content)"
        [class]="nestedContentsClass(rc.content)"
      />
    }
  </div>
</ng-template>
