@let vm = viewModel();

@if (vm.visible) {
  <ng-template #buttonContent>
    <span class="flex items-center justify-center gap-2 flex-1">
      @if (vm.icon && vm.iconPosition === 'before') {
        <ng-container [ngTemplateOutlet]="iconTemplate" />
      }
      @if (showLabel()) {
        <span class="truncate" [class]="vm.labelClass">{{ displayLabel() }}</span>
      }
      @if (vm.icon && vm.iconPosition === 'after') {
        <ng-container [ngTemplateOutlet]="iconTemplate" />
      }
    </span>
  </ng-template>

  <ng-template #iconTemplate>
    @switch (vm.iconType) {
      @case ('material') {
        <mat-icon [class]="vm.iconClass" aria-hidden="true">{{ vm.icon }}</mat-icon>
      }
      @case ('SVG') {
        <mat-icon [svgIcon]="vm.icon ?? ''" [class]="vm.iconClass" aria-hidden="true" />
      }
      @default {
        <img [src]="vm.icon" alt="" class="h-5 w-5 object-contain" [class]="vm.iconClass" />
      }
    }
  </ng-template>

  @if (isFileButton()) {
    <input
      #fileInput
      type="file"
      class="hidden"
      [multiple]="vm.fileConfig?.multiple ?? false"
      [attr.accept]="acceptAttribute()"
      (change)="onFileSelected($event)"
    />
  }

  <mat-menu #childMenu="matMenu">
    <div class="flex flex-col gap-1 p-1" [class]="vm.childrenHolderClass">
      @for (child of childButtons(); track child.slug ?? $index) {
        <action-button [button]="child" [parentData]="data()" />
      }
    </div>
  </mat-menu>

  <!-- the menu trigger goes on the button itself, and only on a button with a menu: it stamps
       aria-haspopup / aria-expanded on its host, which a plain button or a wrapper must not carry -->
  <div
    class="inline-flex"
    [matTooltip]="vm.tooltip ?? ''"
    [matTooltipDisabled]="!vm.tooltip"
    [matTooltipPosition]="vm.tooltipPosition"
    [matTooltipClass]="vm.tooltipClass ?? ''"
    (click)="handleClick($event)"
  >
    <ng-container
      [ngTemplateOutlet]="buttonByType"
      [ngTemplateOutletContext]="{ $implicit: hasChildren() ? childMenu : null }"
    />
  </div>

  <!-- `menu`: the child menu, or null for a plain action. A directive can't be added
       conditionally, so each variant comes twice: with the trigger, and without -->
  <ng-template #buttonByType let-menu>
    @switch (type()) {
      @case ('fab') {
        @if (menu) {
          <button
            mat-fab
            type="button"
            [matMenuTriggerFor]="menu"
            [attr.aria-label]="ariaLabel()"
            [class]="vm.class"
            [extended]="!!displayLabel()"
            [disabled]="vm.disabled"
            [buttonLoading]="vm.loading"
          >
            <ng-container [ngTemplateOutlet]="buttonContent" />
          </button>
        } @else {
          <button
            mat-fab
            type="button"
            [attr.aria-label]="ariaLabel()"
            [class]="vm.class"
            [extended]="!!displayLabel()"
            [disabled]="vm.disabled"
            [buttonLoading]="vm.loading"
          >
            <ng-container [ngTemplateOutlet]="buttonContent" />
          </button>
        }
      }
      @case ('mini-fab') {
        @if (menu) {
          <button
            mat-mini-fab
            type="button"
            [matMenuTriggerFor]="menu"
            [attr.aria-label]="ariaLabel()"
            [class]="vm.class"
            [disabled]="vm.disabled"
            [buttonLoading]="vm.loading"
          >
            <ng-container [ngTemplateOutlet]="buttonContent" />
          </button>
        } @else {
          <button
            mat-mini-fab
            type="button"
            [attr.aria-label]="ariaLabel()"
            [class]="vm.class"
            [disabled]="vm.disabled"
            [buttonLoading]="vm.loading"
          >
            <ng-container [ngTemplateOutlet]="buttonContent" />
          </button>
        }
      }
      @case ('icon') {
        <ng-container
          [ngTemplateOutlet]="iconButton"
          [ngTemplateOutletContext]="{ $implicit: false, menu }"
        />
      }
      @case ('mini-icon') {
        <ng-container
          [ngTemplateOutlet]="iconButton"
          [ngTemplateOutletContext]="{ $implicit: true, menu }"
        />
      }
      @default {
        @if (menu) {
          <button
            matButton="outlined"
            type="button"
            [matMenuTriggerFor]="menu"
            [attr.aria-label]="ariaLabel()"
            [class]="vm.class"
            [buttonLoading]="vm.loading"
            [disabled]="vm.disabled"
          >
            <ng-container [ngTemplateOutlet]="buttonContent" />
          </button>
        } @else {
          <button
            matButton="outlined"
            type="button"
            [attr.aria-label]="ariaLabel()"
            [class]="vm.class"
            [buttonLoading]="vm.loading"
            [disabled]="vm.disabled"
          >
            <ng-container [ngTemplateOutlet]="buttonContent" />
          </button>
        }
      }
    }
  </ng-template>

  <ng-template #iconButton let-mini let-menu="menu">
    @if (menu) {
      <button
        mat-icon-button
        type="button"
        [matMenuTriggerFor]="menu"
        [attr.aria-label]="ariaLabel()"
        [class]="mini ? '!h-8 !w-8 scale-90 ' + vm.class : vm.class"
        [disabled]="vm.disabled"
        [buttonLoading]="vm.loading"
      >
        <ng-container [ngTemplateOutlet]="buttonContent" />
      </button>
    } @else {
      <button
        mat-icon-button
        type="button"
        [attr.aria-label]="ariaLabel()"
        [class]="mini ? '!h-8 !w-8 scale-90 ' + vm.class : vm.class"
        [disabled]="vm.disabled"
        [buttonLoading]="vm.loading"
      >
        <ng-container [ngTemplateOutlet]="buttonContent" />
      </button>
    }
  </ng-template>
}
